.app {
  height: 100%;
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  &:focus,
  &.active {
    outline: none;
  }
}

.exercise-name {
  margin-bottom: 20px;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  display: none;
  flex-direction: column;
  padding: 20px 25px;
  &.show {
    display: flex;
  }
}

.next-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  font-size: 24px / $font-size * 1em;
  letter-spacing: .05em;
  justify-content: center;
  display: none;
  &.show {
    display: inline-flex;
  }
  &::after {
    content: '';
    height: 24px;
    width: 13px;
    background: url('images/right-arrow-white.svg') center/contain no-repeat;
    position: absolute;
    right: 23px;
    top: calc(50% - 12px);
  }
}

.completed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: none;
  &.show {
    display: flex;
  }
  .yes-btn,
  .no-btn {
    text-transform: uppercase;
    font-size: 24px / $font-size * 1em;
    letter-spacing: .05em;
    justify-content: center;
    display: flex;
    flex: 1;
    align-items: center;
    &::after {
      content: '';
      /*position: absolute;
      right: 23px;
      top: calc(50% - 12px);*/
    }
  }
  .yes-btn {
    background: $green;
    &::after {
      height: 24px;
      width: 24px;
      background: url('images/tick.svg') center/contain no-repeat;
    }
  }
  .no-btn {
    background: $red;
    &::after {
      height: 18px;
      width: 18px;
      background: url('images/cross.svg') center/contain no-repeat;
    }
  }
}

.completed-message {
  text-align: center;
  color: $grey-1;
  display: none;
}

.last-sets {
  margin-top: 10px;
  display: flex;
  align-items: center;
  .progression-name {
    color: #fff;
    margin-left: 7px;
    margin-right: 3px;
  }
  .rep {
    color: #fff;
    border-radius: 50%;
    background: $light-purple;
    height: 22px;
    width: 22px;
    line-height: 23px;
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
    margin-top: -2px;
  }
}

.timer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 150px;
  .timer-value {
    font-family: $mono-font;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: darken($light-purple, 5%);
    color: #fff;
    text-align: center;
    line-height: 150px;
    font-size: 4em;
    margin: 0 20px;
    border: 1px solid lighten($light-purple, 5%);
    position: relative;
    letter-spacing: -.03em;
    &::after {
      content: 'seconds';
      letter-spacing: 0;
      position: absolute;
      bottom: -100px;
      font-size: .8rem;
      left: 50%;
      opacity: .6;
      transform: translateX(-50%);
    }
    &.reps {
      &::after {
        content: 'reps';
      }
    }
  }
  .timer-down,
  .timer-up {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .timer-up {
    background: url('images/timer-up.svg') center/contain no-repeat;
  }
  .timer-down {
    background: url('images/timer-down.svg') center/contain no-repeat;
  }
  .times-up {
    height: 150px;
    line-height: 150px;
    font-size: 2.5em;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $grey-1;
    text-align: center;
    display: none;
  }
}

.progression-container {
  position: relative;
  &::after {
    content: '';
    height: 24px;
    width: 10px;
    background: url('images/right-arrow-white.svg') center/contain no-repeat;
    position: absolute;
    right: 23px;
    top: calc(50% - 12px);
    transform: rotate(90deg);
  }
}

.progression-message {
  font-size: .8rem;
  margin-bottom: 5px;
}

.progression {
  background: none;
  width: 100%;
  border: 1px solid $light-purple;
  font-size: 1.1em;
  color: #fff;
  font-family: $body-font;
  padding: 12px 15px;
  -webkit-appearance: none;
  color: $grey-2;
  option {
    background: $light-purple;
  }
}


.version-display {
  position: absolute;
  top: 6px;
  right: 10px;
}