// COLOURS
// Remember to change the theme colour in header.php

$primary-colour: #4CA0E3;
$alt-colour: #D35688;

$alt-2: #9B7DEF;

$dark-purple: #282834;
$light-purple: #55566A;

$background-colour: linear-gradient(135deg, $dark-purple, $light-purple);

$grey-6: #333;
$grey-5: #4f4f4f;
$grey-4: #828282;
$grey-3: #bdbdbd;
$grey-2: #e0e0e0;
$grey-1: #f2f2f2;

// TYPOGRAPHY

$body-font: 'Barlow', sans-serif;
$heading-font: 'Barlow', sans-serif;

$body-regular: 400;
$body-bold: 700;

$heading-regular: 400;

$font-colour: #828191;

$font-size: 16px;
$font-size-mobile: 14px;


// SECTIONS

$section: 1200px;
$section-narrow: 1000px;
$section-wide: 1400px;

$section-padding: 25px;

$ease: ease-in-out;
